#####################################################################
#   Einsy Macros
#####################################################################

[gcode_macro DUMP_PARAMETERS]
gcode:
  {% set parameters = namespace(output = '') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set donotwant = ['bed_mesh'] %}
      {% if name1 is not in donotwant %}
        {% set param = "printer['%s'].%s = %s" % (name1, name2, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
      {% else %}
        {% set param = "printer['%s'] = %s" % (name1, printer[name1]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}

[gcode_macro G80]
gcode:
 #G28
 Tram_Z
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=Mesh
 G1 X0 Y0 Z0.4 F4000

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=Mesh
    G1 X125 Y101 Z10 F4000

[gcode_macro G81]
gcode:
 BED_MESH_OUTPUT
 
[respond]
default_type: command

[force_move]
enable_force_move: TRUE

[gcode_macro UP]
gcode:
    G1 Z100 F1500

[pause_resume]

# Keeps Debug LED off / not floating
[static_digital_output debug_led]
pins: !PB7

[output_pin _BEEPER_pin]
pin: PH2
pwm: True
value: 0
shutdown_value:0
cycle_time: 0.001
scale: 1000

[gcode_macro M300]
gcode:
    SET_PIN PIN=BEEPER_pin VALUE={printer["gcode_macro _VARS_PRINTER"].beeper_tone}
    G4 P{printer["gcode_macro _VARS_PRINTER"].beeper_short}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro M600]
variable_extr_temp: 0
gcode:
    {% set X = params.X|default(100)|int %}
    {% set Y = params.Y|default(0)|int %}
    {% set Z = params.Z|default(10)|int %}
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000

# Load and Unload Macros for the stock MK3 extruder, or other extruders with equivalent filament path/heatbreak lengths.  Customize to your liking.
[gcode_macro LOAD_FILAMENT]
gcode:
 M117 Loading Filament...
 G92 E0.0
 G91
 G1 E40 F400
 G1 E30 F400
 G1 E40 F200
 G90
 G92 E0.0
 M400
 M117 Load Complete
 UPDATE_DELAYED_GCODE ID=clear_display DURATION=5

[gcode_macro UNLOAD_FILAMENT]
gcode:
 M117 Unloading Filament...
 G92 E0.0
 G91
 G1 E-45 F4500
 G1 E-15 F1000
 G1 E-20 F1000
 G90
 G92 E0.0
 M400
 M117 Remove Filament Now!
 M300 S300 P50
 UPDATE_DELAYED_GCODE ID=clear_display DURATION=5

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
 M117

[menu __filament __load]
type: command
name: Load Filament
gcode:
    LOAD_FILAMENT

[menu __filament __unload]
type: command
name: Unload Filament
gcode:
    UNLOAD_FILAMENT

[menu __main __octoprint]
type: disabled
    
[virtual_sdcard]
path: ~/gcode_files

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    G91
    G1 X-2 Y-2 E-1 F300
    # Raise nozzle by 50mm
    G1 Z50 F3000
    G90
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    # Disable steppers
    M84
    #Disable Fan
    M107

##  Clear display after Duration 
[delayed_gcode _CLEAR_DISPLAY]
gcode:
  M117

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
    M117

[gcode_macro Emergency_Lift_Z]
gcode:
    SET_KINEMATIC_POSITION X=0 Y=0 Z=0
    G91
    G1 Z+25 F1500
    G90

[gcode_macro COLD_PULL]
gcode:
    SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=0
    M118 Prepare for cold pull - cut length of HTPLA, open idler door, grab pliers. 
    M118 Heating for nozzle packing
    M109 S200  ; set packing temp and wait
    M300 S300 P50
    M118 Nozzle at temp. Manually push filament through nozzle until it stops flowing. 
    M106 S255  ; turn on part fan to accelerate nozzle cooldown
    M109 S100 ; wait for extruder cooldown to pull temp
    M106 S0  ; turn off part fan
    M300 S300 P90
    M118 Pull away! 
    M109 S85
    SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
    M104 S0

    
    
