#####################################################################
#   Config for Klipper firmware running on ngolshan's MK3S+ based printer.
# 
#   Main MCU: BTT Octopus
#   X/Y/Z Steppers: Stock
#   Extruder: See current active extruder config 
#####################################################################

#####################################################################
# 	General Klipper Stuff
#####################################################################
[include mainsail.cfg]

[virtual_sdcard]
path: ~/gcode_files

[save_variables]
filename: ~/variables.cfg

[gcode_arcs]
resolution: 1.0

[display_status]

[pause_resume]

[respond]
default_type: command

[force_move]
enable_force_move: TRUE

#####################################################################
#   MCU Settings
#####################################################################
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1F004800145053424E363620-if00
##--------------------------------------------------------------------

#####################################################################
#   Printer Type
#####################################################################
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4500
max_accel_to_decel: 2250
max_z_velocity: 36.67
max_z_accel: 200

#####################################################################
#   Included additional config files
#####################################################################
[include cfg/hardware/_hardware.cfg]
[include cfg/macros/_macros.cfg]
[include cfg/filament/_filament.cfg]

#####################################################################
#   Sensors
#####################################################################
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: -10
max_temp: 70

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[bltouch]
sensor_pin:^bltouch_sensor_pin
control_pin:bltouch_control_pin
x_offset: 26.8
y_offset: 4.0
speed: 3
lift_speed: 70
samples_result: average
samples: 3
samples_tolerance: 0.05
samples_tolerance_retries: 2
sample_retract_dist: 0.5
stow_on_each_sample: FALSE
probe_with_touch_mode: TRUE

#####################################################################
#   Z_Tilt adjust X Gantry
#####################################################################
[z_tilt]
z_positions:
  -37,105
  289,105
points:
  0,102
  208,102
speed: 80
horizontal_move_z: 8
retries: 3
retry_tolerance: 0.01

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: heater_bed_heating_pin
sensor_type: EPCOS 100K B57560G104F
sensor_pin: heater_bed_sensor_pin
control: pid
pid_Kp: 126.13
pid_Ki: 4.3
pid_Kd: 924.76
min_temp: 0
max_temp: 120

#####################################################################
#   Fans
#####################################################################
# Hotend Fan
[heater_fan hotend_fan]
pin: fan_hotend_pin
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
#tachometer_poll_interval: 0.0015

# MCU Board/Stepper Driver Fan
#[controller_fan Controller_fan]
#pin: fan_controller_board_pin
#max_power: 1.0
#fan_speed: 0.5                         # full cooling not required
#kick_start_time: 0.250
#idle_timeout: 120
#idle_speed: 0.3                         # slow down when idling
#heater: extruder, heater_bed

# Part Cooling Fan
[fan]
pin: fan_part_pin
max_power: 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.036667, 0.009167, 0.012500, -0.026667, -0.013333, -0.005000, -0.015000
#*# 	  -0.018333, 0.000833, -0.015833, -0.022500, 0.014167, 0.008333, -0.005000
#*# 	  0.022500, 0.041667, -0.005000, -0.019167, 0.030833, 0.038333, 0.009167
#*# 	  0.017500, 0.040833, 0.012500, 0.000000, 0.027500, 0.032500, 0.040833
#*# 	  0.047500, 0.071667, 0.030833, 0.028333, 0.035000, 0.037500, 0.026667
#*# 	  0.005833, 0.033333, -0.000833, -0.011667, 0.023333, 0.010000, -0.007500
#*# 	  0.010000, 0.049167, -0.007500, 0.005000, -0.004167, 0.006667, 0.010833
#*# tension = 0.2
#*# min_x = 27.8
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 7
#*# max_y = 204.98
#*# mesh_x_pps = 2
#*# max_x = 244.94
#*#
#*# [bltouch]
#*# z_offset = 3.675
#*#
#*# [bed_mesh mesh]
#*# version = 1
#*# points =
#*# 	  -0.036667, 0.009167, 0.012500, -0.026667, -0.013333, -0.005000, -0.015000
#*# 	  -0.018333, 0.000833, -0.015833, -0.022500, 0.014167, 0.008333, -0.005000
#*# 	  0.022500, 0.041667, -0.005000, -0.019167, 0.030833, 0.038333, 0.009167
#*# 	  0.017500, 0.040833, 0.012500, 0.000000, 0.027500, 0.032500, 0.040833
#*# 	  0.047500, 0.071667, 0.030833, 0.028333, 0.035000, 0.037500, 0.026667
#*# 	  0.005833, 0.033333, -0.000833, -0.011667, 0.023333, 0.010000, -0.007500
#*# 	  0.010000, 0.049167, -0.007500, 0.005000, -0.004167, 0.006667, 0.010833
#*# tension = 0.2
#*# min_x = 27.8
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 7
#*# max_y = 204.98
#*# mesh_x_pps = 2
#*# max_x = 244.94
