#####################################################################
#   Hardware-Specific Config
#####################################################################

[include pins.cfg]
[include stepper.cfg]
[include resonance_comp.cfg]
#[include extruder_BB-14F_0.4.cfg]
[include extruder_BB-14F_0.6.cfg]
[include load_unload.cfg]
[include homing.cfg]
[include bed_mesh.cfg]
[include idle_timeout.cfg]
#[include pi_mcu.cfg]