#####################################################################
#   Useful Macros for Centering the Toolhead
#
#   credit: https://github.com/matthew-humphrey
#####################################################################

[gcode_macro HOME_CHECK]
gcode:
    {% set axes = params.AXES|default('XYZ') %}
    {% set flags_X = 'X' in axes %}
    {% set flags_Y = 'Y' in axes %}
    {% set flags_Z = 'Z' in axes %}
    {% set home_flags = '' %}
    {% if flags_X and not 'x' in printer.toolhead.homed_axes %}
      {% set home_flags = home_flags + 'X' %}
    {% endif %}
    {% if flags_Y and not 'y' in printer.toolhead.homed_axes  %}
      {% set home_flags = home_flags + 'Y' %}
    {% endif %}
    {% if flags_Z and not 'z' in printer.toolhead.homed_axes  %}
      {% set home_flags = home_flags + 'Z' %}
    {% endif %}
    {% if home_flags != '' %}
      G28 {home_flags}
    {% endif %}

[gcode_macro CENTER_X]
gcode:
    {% set x_config = printer.configfile.settings['stepper_x'] %}
    {% set x_center = (x_config.position_max + x_config.position_min) / 2 %}
    HOME_CHECK AXES=X
    G1 X{x_center} F2000

[gcode_macro CENTER_Y]
gcode:
    {% set y_config = printer.configfile.settings['stepper_y'] %}
    {% set y_center = (y_config.position_max + y_config.position_min) / 2 %}
    HOME_CHECK AXES=Y
    G1 Y{y_center} F2000

[gcode_macro CENTER_XY]
gcode:
    CENTER_X
    CENTER_Y

[gcode_macro CENTER_PROBE_XY]
gcode:
    {% set probe_config = printer.configfile.settings['probe'] %}
    {% set x_config = printer.configfile.settings['stepper_x'] %}
    {% set y_config = printer.configfile.settings['stepper_y'] %}
    {% set x_center = (x_config.position_max + x_config.position_min) / 2 - probe_config.x_offset %}
    {% set y_center = (y_config.position_max + y_config.position_min) / 2 - probe_config.y_offset %}
    HOME_CHECK AXES=XY
    G1 X{x_center} Y{y_center} F2000

[gcode_macro CENTER_PROBE_CALIBRATE]
gcode:
    CENTER_PROBE_XY
    G1 Z10 F1000
    PROBE_CALIBRATE


